/* body {
    text-align: center;

}

label {
    display: block;
    padding-bottom: 1rem;
}  */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;



}



h1 {
    margin: 1rem;

    color: blue;
    ;
}


label {
    margin: 2rem 0px;
    display: block;
    font-size: larger;
    font-weight: 900;

}

input {
    display: block;
    margin: 1rem auto;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    border: 2.5px solid blue;
    outline: none;
    font-size: large;



}

#btn {
    background: blue;
    border: 3px solid #49fb35;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

#output {
    font-size: larger;
    font-weight: 600;
    margin: 1rem 0;
}


footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;


}


a,

li {
    display: inline;
    margin: 1rem;
    color: white;
    text-decoration: none;
    font-size: large;
}